body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

h1{
  font-size: 80px;
}

.left{
  float: left; /*img will be algned to the left of the page*/
}

.tile-image{
 height: 200px; /*decides the size of img and aligns well while minimizing the page*/
  float:left;
  margin-right: 55px;
}

.right{
  float: right;/*img will be aligned to the right of the page*/
}

.card{
  width: 45%; /*decides the width of a card*/
}

.main{
  flex: 1; /* gives flexibility to the content in the page*/ 
}

.creative{
  color:#191970;
}

footer{
  text-align: right;
  color:#191970;
}

@media (max-width: 680px){
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
